<li class="media mb-3">
  <div class="mr-3">
    <%= image_or_text_avatar message.user %>
  </div>
  <div class="media-body">
    <h2 class="h5 mt-0 mb-1"><%= link_to message.title, [message.project, message], class: 'text-reset' %></h2>
    <span class="text-muted">
      <%= message.user.full_name %>
      <%= ascii_bullet %>
      <%= time_tag message.created_at, message.created_at.strftime("%B %d, %Y") %>
      &mdash;
    </span>
    <%= truncate message.content.to_plain_text, length: 250 %>
  </div>
</li>
