<div class="container-fluid">
  <div class="col-sm-12 col-lg-10 mx-auto">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-white rounded-bottom-0 justify-content-center border-top border-left border-right w-75 mx-auto mb-0">
        <li class="breadcrumb-item"><%= link_to icon('th', text: @project.title), [@project], class: 'text-reset' %></li>
        <li class="breadcrumb-item"><%= link_to 'Docs & Files', [@project, :uploaded_files], class: 'text-reset' %></li>
      </ol>
    </nav>
    <div class="card shadow-lg">
      <div class="card-body text-center">
        <div class="position-relative">
          <div class="position-absolute" style="right:0; top:0">
            <div class="dropdown">
              <%= link_to icon('cog'), 'javascript:void(0)', id: 'uploadedFileDropdown', data: { toggle: 'dropdown' }, aria: { haspopup: true, expanded: false } %>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="uploadedFileDropdown">
                <%= link_to 'Delete file', [@project, @uploaded_file], method: :delete, data: { confirm: 'Are you sure? This cannot be undone' }, class: 'dropdown-item' %>
              </div>
            </div>
          </div>
        </div>
        <div class="mb-2">
          <% if @uploaded_file.file.variable? %>
            <%= link_to rails_blob_path(@uploaded_file.file), target: '_blank' do %>
              <%= image_tag @uploaded_file.file.variant(resize_to_fill: [400, 300]), class: 'img-fluid' %>
            <% end %>
          <% else %>
            <%= icon icon_for_content_type(@uploaded_file.content_type), class: 'fa-3x' %>
          <% end %>
        </div>
        <h1 class="h3 mb-0"><%= @uploaded_file.filename %></h1>
        <dl class="small mt-2 mb-0">
          <dt class="font-weight-normal d-inline-block">Posted by</dt>
          <dd class="d-inline-block"><%= @uploaded_file.user.full_name %></dd>
          <dt class="font-weight-normal d-inline-block ml-2">Uploaded</dt>
          <dd class="d-inline-block">
            <%= time_tag @uploaded_file.created_at, "#{time_ago_in_words(@uploaded_file.created_at)} ago" %>
          </dd>
          <dt class="font-weight-normal d-inline-block ml-2"></dt>
          <dd class="d-inline-block"><%= number_to_human_size @uploaded_file.byte_size %></dd>
        </dl>
        <%= link_to 'Download', rails_blob_path(@uploaded_file.file), target: '_blank' %>
      </div>
    </div>
  </div>
</div>
