<div class="container-fluid">
  <div class="col-sm-12 col-lg-10 mx-auto">
    <div class="card mt-3 shadow-sm">
      <div class="card-body">
        <div class="position-relative">
          <h1 class="h3 card-title text-center mb-2"><%= @project.title %></h1>
          <div class="position-absolute" style="right:0; top:0">
            <div class="dropdown">
              <%= link_to icon('cog'), 'javascript:void(0)', id: 'projectDropdown', data: { toggle: 'dropdown' }, aria: { haspopup: true, expanded: false } %>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="projectDropdown">
                <%= link_to 'Edit project', [:edit, @project], class: 'dropdown-item' %>
                <%= link_to 'Delete project', [@project], method: :delete, data: { confirm: 'Are you sure? This cannot be undone' }, class: 'dropdown-item' %>
              </div>
            </div>
          </div>
        </div>
        <div class="w-50 mx-auto text-center">
          <p class="card-text text-muted"><%= @project.description %></p>
          <%= user_avatar_list @project.users %>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="card mt-3 shadow-sm">
              <div class="card-body">
                <h2 class="h5 card-title mb-2">Posts</h2>
                <hr>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card mt-3 shadow-sm">
              <div class="card-body">
                <h2 class="h5 card-title mb-2">To-dos</h2>
                <hr>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card mt-3 shadow-sm">
              <div class="card-body">
                <%= link_to [@project, :uploaded_files], class: 'text-reset stretched-link' do %>
                  <h2 class="h5 card-title mb-2">Docs & Files</h2>
                <% end %>
                <hr>
                <div class="row">
                  <%= render partial: 'uploaded_file', collection: @uploaded_files %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
