<!DOCTYPE html>
<html lang="<%= I18n.locale %>" class="min-vh-100">
  <head>
    <title>BasecampResumeOnRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column min-vh-100">
    <%= render 'nav' %>
    <main>
      <%= yield %>
    </main>
    <%= render 'footer' %>
  </body>
</html>
